<head>
  <title>bill shortener</title>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar">
        <ul class="nav navbar-nav navbar-left">
              <li>{{> loginButtons }}</li>
        </ul>
    </nav>
</div>
<div class="container">
    {{> addURL}}
    {{> addedURL}}
    {{> listURL}}
</div>
</body>

<template name="addURL">
    <div class="row">
        <div class="well col-sm-12">
            Simply paste a URL into the box below and hit Shortenificate! to minify it.
        </div>
    </div>
    <div class="row">
        <form class="entry form-group col-sm-12 ">
            <div class="input-group">
                <input class="form-control" name="url" type="text" placeholder="Paste URL to shorten here">
                <span class="input-group-btn">
                    <button class="btn btn-primary " type="submit">Shortenificate!</button>
                </span>
            </div>
        </form>
    </div>

</template>

<template name="addedURL">
{{#if urlCreated}}
    <div class="alert alert-success col-sm-12 btn" style="word-wrap:break-word;">
        Shortened {{docCreated.long}} ({{docCreated.longLength}} chars) to <a class="alert-link" href="{{docCreated.short}}">{{docCreated.short}}</a> ({{docCreated.shortLength}} chars), a saving of {{docCreated.ratio}}%. Click this box to copy <span class="glyphicon glyphicon-copy"></span>
    </div>
{{/if}}

</template>

<template name="listURL">
    <div class="well col-sm-12">
    {{#if currentUser}}
        {{#if hasURLs}}
        <table class="table table-hover" id="listTable">
            <tr><th>Original URL</th><th>Short URL</th></tr>
            <tbody>
                {{#each userURLs}}
                <tr><td><a href="{{short}}">{{concat}}</a></td><td><a href="{{short}}">{{short}}</a></td><td><span class="btn glyphicon glyphicon-copy glyphicon-lg"></span></td></tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        You don't have any saved short URLs
        {{/if}}
    {{else}}
    You must log in to save your shortened URLs.
    {{/if}}
</div>
</template>
