/* CSS declarations go here */
/*multi-line buttons*/
.btn {
    white-space: normal;
}

.glyphicon-lg {
    font-size:2em;
}

#listTable td {
    vertical-align: middle;
}

body {
    /* does this count as a purty gradient?*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 255, 0.1)) ;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
